<html>
    <head>
        <title>Vue JS Training</title>
    </head>
    <body>
        <div id="app">
            <div class="product-image">
                <img :src="image">
            </div>
            <div class="product-info">
                <h1>{{product}}</h1>
                <p v-if="inStock">In Stock</p>
                <p v-else>Out of Stock</p>
                <ul>
                    <li v-for="detail in details">
                        {{detail}}
                    </li>
                </ul>
                <div v-for="variant in variants">
                    <p>{{variant.variantColor}}</p>
                </div>
                <span>Sizes:</span>
                <ul>
                    <li v-for="size in sizes">
                        {{size}}
                    </li>
                </ul>
            </div>
        </div>

        <!-- Vue JS Script -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="main.js"></script>
    </body>
</html>