<html>
    <head>
        <title>Vue JS Training</title>
    </head>
    <body>
        <div id="app">
            <div class="product-image">
                <img :src="image">
            </div>

            <div class="product-info">
                <h1 v-if="onSale">On Sale!</h1>
                <h1 v-else :class="{notSale: !onSale}">The Product is Empty</h1>
                <h1>{{title}}</h1>
                <p v-if="inStock">In Stock</p>
                <p v-else :class="{outOfStock: !inStock}">Out of Stock</p>
                
                <ul>
                    <li v-for="detail in details">
                        {{detail}}
                    </li>
                </ul>
                
                <div class="color-box" 
                    v-for="(variant, index) in variants" 
                    :key="variant.variantId" 
                    :style="{backgroundColor: variant.variantColor}"
                    @mouseover="updateProduct(index)">
                    {{variant.variantColor}}
                </div>
                
                <button v-on:click="addToCart" 
                        :disabled="!inStock"
                        :class="{disableButton: !inStock}">
                        Add to cart
                </button>

                <div class="cart">
                    <p>Cart ({{cart}})</p>
                </div>
            </div>
        </div>

        <!-- Vue JS Script -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="main.js"></script>
    </body>
</html>